@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.success {
    border-color: green;
    background-color: gray;
}

.error {
    border-color: red;
    background-color: gray;
}